common_tags           = {"Owner" = "elyasaf.lehrer"}
region                = "eu-west-1"


cidr_block_vpc_a       = "10.10.0.0/16"
cidr_block_vpc_b       = "10.20.0.0/16"
cidr_block_vpc_c       = "10.30.0.0/16"
cidr_block_vpc_c_b_c   = "10.0.0.0/8"

cidr_block_pub_sub_a   = "10.10.0.0/24"
cidr_block_pri_sub_b   = "10.20.0.0/24"
cidr_block_pri_sub_c   = "10.30.0.0/24"


az_a                  = "eu-west-1a"
az_b                  = "eu-west-1b"
az_c                  = "eu-west-1c"


ami_instance           = "ami-0c1bc246476a5572b"
instance_type         = "t2.micro"
my_publicIp           = "213.151.62.55/32"

